
# comment
snippet log console.log
	console.log($1)

snippet fn function
	function $1 ($2) {
		$3
	}

snippet imp import
	import $1 from '$2'

snippet req require asonetuh
	$2require('$1')

snippet class create a class
	class $1 ${extends} $2 {
		$3
	}

snippet waku waku waku
	'waku waku!'
