/* Color-Scheme For All Themes*/

* {
    background:        #282C34;
    background-alt:    #ffffffff;
    foreground:        #ABB2BF;
    border:            #5895DCff;
    selected:          #EE00FF;
    urgent:            #FFFF00;
    logo:              #0000FF;
    on:                #00FFFF;
    off:               #FF0000;
}
